*{
    text-decoration: none !important;
    list-style: none !important;
}
body{
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden;
}
#categories{
    padding-top: 100px !important;
    
}
/* NAVBAR */ 
.navbar{
    margin: 0 !important;
    padding: 0 !important;
}
.navbar-collapse{
    padding: 10px;
}
.navbar-collapse img{
    height: 40px;
}
.navbar ul li a{
    color: white;
}
.navbar ul li a:hover{
    color: rgb(190, 51, 51);
}
.search-nav{
    border: none !important;
    width: 500px;
    color: white;
}
.search-nav:focus{
    color: white;
}
.search-nav::placeholder{
    color: white;
}
/* NAVBAR 2*/ 
.navbar2{
    padding: 0px !important;
}
.navbar2 ul li{
    border: 1px solid rgba(224, 224, 224, 0.959);
}

.navbar2 button{
    height: 70px;
    color: black !important;
    padding: 10px !important;
    transition: all 0.5s ease;
}
.navbar2 button:hover{
    color: rgb(255, 255, 255) !important;
    margin-top: -20px;
    border: 1px solid gray;
    background-color: gray;
}
.navbar2 button .active{
    color: rgb(255, 255, 255) !important;
    margin-top: -20px;
    border: 1px solid gray;
    background-color: gray;
}
/* card*/
#cardsHome:hover{
    scale: 1.01;
    box-shadow: 10px 10px 85px -13px rgba(0,0,0,0.41);
    -webkit-box-shadow: 10px 10px 85px -13px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 85px -13px rgba(0,0,0,0.41);
}
.card .rating{
    color: rgb(252, 228, 122) !important;
}
.card span{
    font-weight: bold;
}

.card .price{
    font-weight: bold;
    color: rgb(236, 99, 99);
}
/* card image holder */
.imgholder{
    height: 200px !important;
    overflow: hidden !important;
}


#itemDetails .carousel-inner{
    height: 400px !important;
}


#itemDetails .carousel-indicators{
    position: relative !important;
}
#itemDetails .carousel-indicators button{
    height: 80px !important;
    width: 80px !important;
    margin: 0 5px !important;
    background-position: center !important;
    background-size: contain !important;
    border-radius: 5px !important;
    transition: all 0.3s ease-in !important;
}
#itemDetails .carousel-indicators .active{
    border: 2px solid rgba(255, 0, 0, 0.493) !important;
    transform: scale(1.2) !important;
}

/* LOGIN & REGISTER */
.logo{
    padding: 150px 0px 100px 0px;
    height: 410px;
}

/* FOOTER */

.btn-nav-f:hover{
    text-decoration: underline !important;
}