body{
    margin: 0px !important;
    padding: 0px !important;

}

/* NAVBAR */ 
.navbar{
    margin: 0 !important;
    padding: 0 !important;
}
.navbar-collapse{
    padding: 10px;
}
.navbar-collapse img{
    height: 40px;
}
.navbar ul li a{
    color: white;
}
.search-nav{
    border: none !important;
    width: 500px;
}
.search-nav::placeholder{
    color: white;
}
/* NAVBAR 2*/ 
.navbar2{
    padding: 0px !important;
}
.navbar2 ul li{
    border: 1px solid rgba(224, 224, 224, 0.959);
}

.navbar2 a{
    color: black !important;
    padding: 15px !important;
}

/* DIVI QE I MBAN ADs nen heder*/

.ads{
    margin-top: -20px !important;
    z-index: 230 !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0px 10px 73px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 73px -24px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 73px -24px rgba(0,0,0,0.75);
    padding: 0px !important;
    width: fit-content;
}
.ads img{
    border-radius: 5px !important;
}

/* card*/

.card .rating{
    color: rgb(252, 228, 122) !important;
}
.card span{
    font-weight: bold;
}

.card .price{
    font-weight: bold;
    color: rgb(236, 99, 99);
}

.imgholder{
    width: 100% !important;
    height: 80% !important;
    overflow: hidden !important;
    position: relative !important;
}
.carousel-indicators{
    margin: 0px !important;
    position: relative !important;
}
.carousel-indicators button{
    height: 80px !important;
    width: 80px !important;
    margin: 0 5px !important;
    background-position: center !important;
    background-size: contain !important;
    border-radius: 5px !important;
    transition: all 0.3s linear !important;
}
.carousel-indicators button:active{
    border: 2px solid rgb(255, 0, 0) !important;
    transform: scale(1.2) !important;
}